<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">


	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>   
	
	<bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer">
    	<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    	<property name="searchContextAttributes" value="true"/>
    	<property name="contextOverride" value="true"/>
    	<property name="ignoreResourceNotFound" value="true"/>
    	<property name="locations">
        	<list>
				<value>file:/${ITS_TOOL_ENV_CONFIG}database-itstool.properties</value>
        		<value>file:/${ITS_TOOL_ENV_CONFIG}database-leviticus.properties</value>
        	</list>
    	</property>
	</bean>

	<bean id="dataSourceITSTool"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="${itstool.jdbc.driverClassName}" p:url="${itstool.jdbc.databaseurl}"
		p:username="${itstool.jdbc.username}" p:password="${itstool.jdbc.password}" />

	<bean id="dataSourceLeviticus" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="url" value="${leviticus.jdbc.databaseurl}" />
        <property name="driverClassName" value="${leviticus.jdbc.driverClassName}" />
        <property name="username" value="${leviticus.jdbc.username}" />
        <property name="password" value="${leviticus.jdbc.password}" />
        <property name="removeAbandoned" value="true" />
        <property name="initialSize" value="20" />
        <property name="maxActive" value="30" />
    </bean>
		
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSourceITSTool" />
		</property>
		<property name="packagesToScan" value="com.openenglish.itstool.entity" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${itstool.jdbc.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>
				<prop key="hibernate.generate_statistics true">true</prop>
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
			</props>
		</property>
	</bean>

	<tx:annotation-driven />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

</beans>